body {
    font-family: 'Galatea', sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(42, 53, 85);
    height: 5vw;
    width: 100vw;
    margin-left: -12px;
    padding: 0
}

.main {
    font-size: .75vw;
    height: 110%;
    width: 100vw;
    background: rgb(214, 247, 206);
}

.fa-people-group {
    margin-left: -20vw;
}

.cardTop {
    height: 4vw;
    width: 100%
}

.card {
    height: 13.5vw;
    margin: 0px;
    margin-right: 110px;
    margin-left: 110px
}

.row1,
.row3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-left: .5vw;
    margin-top: .5vw
}

h4 {
    margin-left: .5vw;

}

li {
    margin-left: -1vw;
}


i {
    margin-right: .4vw;
}